@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}


:root{
  --soft-primary-bg-color: #84d187;
  --primary-bg-color: #00b207;
  --hard-primary-bg-color: #2c742f;
  --warning-bg-color: #ff8a00;
  --danger-bg-color: #ea4b48;
}